<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Vuejs-Tut</title>
    <script src="https://unpkg.com/vue@3.3.8"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    
</head>
<body>
    <div id="gameapp">
        <h1>{{title}}</h1>
<!-- v-for a in b {{a.b array level}} = for looop -->
        <h3>Name</h3>
        <li v-for="ninjadata in ninjadatas">
            {{ninjadata.name}}
            {{ninjadata.health}}
            {{ninjadata.level}}
        </li>
        <br>
        <input type="text" v-model="ninjaelement"> <!--vmodel 能將JS內的值繫結到html內-->
        <br><br>

        <table>
        <tr>
            <thead  v-for="tabletitle in tabletitles" style="text-align: center; margin: auto;">
            <th>{{tabletitle.members}}</th>
            <th>{{tabletitle.health}}</th>
            <th>{{tabletitle.level}}</th>
            </thead>
        </tr>
        <tr v-for="ninjadata in ninjadatas">
            <td>{{ninjadata.name}}</td>
            <td>{{ninjadata.health}}</td>
            <td>{{ninjadata.level}}</td>
        </tr>
        </table>
        <br>
        <input id="NinjaStudentInput" v-model="newninjastudent"
        v-on:keypress.enter="addNinjaStudent"/>
        <button v-on:click="addNinjaStudent"> Add Ninja Student</button>
        <p>
            <ul>
                <li v-for="(ninjadata, index) in ninjadatas">
                    {{ninjadata.name}}
                    <button v-on:click="deleteNinjaStudent(index)">X</button>
                </li>
            </ul>
        </p>

        
    </div>
    <script src="js/tut.js"></script>
</body>
</html>