<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Vuejs-Tut</title>
    <script src="https://unpkg.com/vue@3.4.5/dist/vue.global.js"></script>
    
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <style>
        .origalclass{
            background-color: yellow;
        }
    </style>
</head>
<body>
    <div id="gameapp">
        <h1>{{title}}</h1>
<!-- v-for a in b {{a.b array level}} = for looop -->
        <h3>Lesson: Data binding</h3>
        <h3>Name</h3>
        <li v-for="ninjadata in ninjadatas">
            {{capitalizedfirstletter(ninjadata.name)}}
            {{ninjadata.health}}
            {{ninjadata.level}}
        </li>
        <br>
        <hr>
        <h3>Lesson: Two-way binding</h3>
        <input type="text" v-model="ninjaelement"> <!--vmodel 能將JS內的值繫結到html內-->
        <br><br>

        <table>
        <tr>
            <thead  v-for="tabletitle in tabletitles" style="text-align: center; margin: auto;">
            <th>{{tabletitle.members}}</th>
            <th>{{tabletitle.health}}</th>
            <th>{{tabletitle.level}}</th>
            <th>{{tabletitle.dob}}</th>
            </thead>
        </tr>
        <tr v-for="ninjadata in ninjadatas">
            <td>{{ninjadata.name}}</td>
            <td>{{ninjadata.health}}</td>
            <td>{{ninjadata.level}}</td>
            <td>{{ninjadata.dob}}</td>
        </tr>
        </table>
        <br>
        <hr>
        <h3>Lesson: Button, event and methods</h3>
        <input id="NinjaStudentInput" v-model="newninjastudent"
        v-on:keypress.enter="addNinjaStudent"/>
        <button v-on:click="addNinjaStudent"> Add Ninja Student</button>
        <p>
            <ul>
                <li v-for="(ninjadata, index) in ninjadatas">
                    {{ninjadata.name}}
                    <button v-on:click="deleteNinjaStudent(index)">X</button>
                </li>
            </ul>
        </p>
        <br>
        <p>
            <ul>
                <li v-for="ninjadata in sortedNinjaStudents">
                    {{ninjadata.name}}, {{ninjadata.dob}},{{ageFromDOB(ninjadata.dob)}}
                </li>
            </ul>
        </p>
        <hr>
        <h3>Lesson: CSS class binding</h3>
        <p>
            <input type="checkbox" v-model="ninjaClassActive">changeclass
        </p>
        <div v-bind:class="{'origalclass': ninjaClassActive}">origal Ninja</div>
        <hr>
       
        <p>
            <input type="text" v-model="ninjaStyleObject.color">Color
        </p>
        <p>
            <input type="text" v-model="ninjaStyleObject.fontSize">Size
        </p>
        <div v-bind:style="ninjaStyleObject">Changable Ninja</div>
        <hr>
        <h3>Lesson: v-if</h3>
        <p> <input type="text" v-model="userInput" placeholder="A/B/C">

        <div v-if="userInput === 'A'">A</div>
        <div v-else-if="userInput === 'B'">B</div>
        <div v-else-if="userInput === 'C'">C</div>
        <div v-else>Not A/B/C </div>
        <hr>
        <h3>Lesson: EventHandler</h3>
        <button v-on:click="bobButtonClick1">Add1</button>
        <p>The button above has been clicked {{conterobject.conter1}} times</p>
        <br>
        <button  v-on:click="bobButtonClick2">Submit button</button>
        <p>The button above has been clicked {{conterobject.conter2}} times</p>
        <br>
        <a href="#" v-on:click.stop.prevent="bobButtonClick3">Add1</a>
        <p>The button above has been clicked {{conterobject.conter3}} times</p>
        <br>
        <input v-on:keyup.enter="bobButtonClick4" placeholder="Press enter" >
        <p>The button above has been entered {{conterobject.conter4}} times</p>
        <hr>
        <!--CheckBox-->
        <input v-model="message">
        <p>Message is: {{message}}</p>
        <hr>
        <textarea v-model="mutiplelinemessage"></textarea>
        <span>Mutipleline message is: </span>
        <p style="white-space: pre-line;">{{mutiplelinemessage}}</p>
        <input type="checkbox" id="checkbox" v-model="checked">
        <label for="checkbox">{{checked}}</label>
        <hr>
        <input type="checkbox" id="checkbox" value="Programming" v-model="checkedInterests">
        <label for="programming">Programming</label>
        <input type="checkbox" id="checkbox" value="Networking" v-model="checkedInterests">
        <label for="networking">Networking</label>
        <br>
        <p>Checked name:{{checkedInterests}}</p>
    </div>
    <script src="js/tut.js"></script>
        
       
</body>
</html>