<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Vuejs-Tut</title>
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <style>
        .origalclass{
            background-color: yellow;
        }
    </style>
</head>
<body>
    <div id="gameapp">
        <h1>{{title}}</h1>
<!-- v-for a in b {{a.b array level}} = for looop -->
        <h3>Name</h3>
        <li v-for="ninjadata in ninjadatas">
            {{capitalizedfirstletter(ninjadata.name)}}
            {{ninjadata.health}}
            {{ninjadata.level}}
        </li>
        <br>
        <input type="text" v-model="ninjaelement"> <!--vmodel 能將JS內的值繫結到html內-->
        <br><br>

        <table>
        <tr>
            <thead  v-for="tabletitle in tabletitles" style="text-align: center; margin: auto;">
            <th>{{tabletitle.members}}</th>
            <th>{{tabletitle.health}}</th>
            <th>{{tabletitle.level}}</th>
            <th>{{tabletitle.dob}}</th>
            </thead>
        </tr>
        <tr v-for="ninjadata in ninjadatas">
            <td>{{ninjadata.name}}</td>
            <td>{{ninjadata.health}}</td>
            <td>{{ninjadata.level}}</td>
            <td>{{ninjadata.dob}}</td>
        </tr>
        </table>
        <br>
        <input id="NinjaStudentInput" v-model="newninjastudent"
        v-on:keypress.enter="addNinjaStudent"/>
        <button v-on:click="addNinjaStudent"> Add Ninja Student</button>
        <p>
            <ul>
                <li v-for="(ninjadata, index) in ninjadatas">
                    {{ninjadata.name}}
                    <button v-on:click="deleteNinjaStudent(index)">X</button>
                </li>
            </ul>
        </p>
        <br>
        <p>
            <ul>
                <li v-for="ninjadata in sortedNinjaStudents">
                    {{ninjadata.name}}, {{ninjadata.dob}},{{ageFromDOB(ninjadata.dob)}}
                </li>
            </ul>
        </p>
        <p>
            <input type="checkbox" v-model="ninjaClassActive">changeclass
        </p>
        <div v-bind:class="{'origalclass': ninjaClassActive}">origal Ninja</div>
        <hr>
        <p>
            <input type="text" v-model="ninjaStyleObject.color">Color
        </p>
        <p>
            <input type="text" v-model="ninjaStyleObject.fontSize">Size
        </p>
        <div v-bind:style="ninjaStyleObject">Changable Ninja</div>
        </div>


    </div>
    
    <script src="js/tut.js"></script>
    
    
    
</body>
</html>